rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to create, read, and update their own profile document
    match /users/{userId} {
      allow create, read, update: if request.auth != null && request.auth.uid == userId;

      // Allow users to create, read, and delete their own cost reports
      match /costReports/{reportId} {
        allow read, write, delete: if request.auth != null && request.auth.uid == userId;
      }
       match /irrigationSchedules/{scheduleId} {
        allow read, write, delete: if request.auth != null && request.auth.uid == userId;
      }
      match /farmingCalendars/{calendarId} {
        allow read, write, delete: if request.auth != null && request.auth.uid == userId;
      }
      match /healthAnalyses/{analysisId} {
        allow read, write, delete: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}